<launch>
   	
   	<node pkg="rosbag" type="play" name="player2"  args="/home/alphabot/niv/datasets/IRRCyN_Short2_FabMap_Test.bag">
			<remap from="imageRectified" to="lsd2/imageRectified" />
	    	<remap from="camInfo" to="lsd2/camInfo" />
	    	<remap from="camera/image_raw" to="lsd2/camera/image_raw" />
	</node>
	
	<group ns="lsd2">
		<node name="lsd" pkg="lsd_slam_core" type="live_slam" output="screen">
			<remap from="image" to="imageRectified" />
	        <remap from="camera_info" to="camInfo" />
		</node>	
		<!--
		<node pkg="rosbag" type="play" name="player"  args="/home/alphabot/niv/datasets/IRT/loop_big_square2.bag">
			<remap from="/imageRectified" to="imageRectified" />
	    	<remap from="/camInfo" to="camInfo" />
	    	<remap from="/camera/image_raw" to="camera/image_raw" />
		</node> -->
	</group>  
	
	<node name="viewer2" pkg="lsd_slam_viewer" type="viewer" output="screen">
			<remap from="/lsd_slam/liveframes" to="/lsd2/lsd_slam/liveframes" />
	        <remap from="/lsd_slam/keyframes" to="/lsd2/lsd_slam/keyframes" />
	        <remap from="/lsd_slam/graph" to="/lsd2/lsd_slam/graph" />
	</node>

		 
</launch>
